/**
 * @version   $Id: slideshow.css 20444 2014-04-15 10:14:25Z arifin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Features - Layout Slideshow - Core */
.layout-slideshow {position: relative;-webkit-transform: translateZ(0);}
.layout-slideshow:after {display: table;content: "";*zoom: 1;clear: both;}
.layout-slideshow ul {list-style: none !important;margin: 0;padding: 0;}

/* Features - Layout Slideshow - Content */
.layout-slideshow .sprocket-features-img-list {position: relative;overflow: hidden;}
.layout-slideshow .sprocket-features-img-container {position: absolute;top: 0;}
.layout-slideshow .sprocket-features-img-container img {position: relative;width: 100%;}
.layout-slideshow .sprocket-features-content {position: absolute;bottom: 65px;left: 80px;width: 50%;}
.layout-slideshow .sprocket-features-title {font-size: 2.5em;margin: 0;padding: 0;line-height: 50px;border-radius: 5px;}
.layout-slideshow .sprocket-features-desc {margin-top: 10px;font-size: 1.5em;line-height: 35px;}
.layout-slideshow .readon {margin: 15px 0 0 0;display: table;font-size: 1rem;}

/* Features - Layout Slideshow - Enable First Item */
.layout-slideshow .sprocket-features-index-1 .sprocket-features-img-container {position: relative;}
.layout-slideshow .sprocket-features-index-1 .sprocket-features-img-container, .layout-slideshow .sprocket-features-index-1 .sprocket-features-content {z-index: 2;}

/* Features - Layout Slideshow - Navigation */
.layout-slideshow .sprocket-features-arrows .arrow {position: absolute;display: block;width: 40px;height: 40px;top: 50%;margin-top: -12px;opacity: 0.7;cursor: pointer;z-index: 100;text-align: center;font-size: 24px;line-height: 38px;-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;}
.layout-slideshow .sprocket-features-arrows .arrow span {display: none;}
.layout-slideshow .sprocket-features-arrows .prev {left: 15px;}
.layout-slideshow .sprocket-features-arrows .next {right: 15px;}
.layout-slideshow .sprocket-features-arrows .arrow:hover {opacity: 1;}
.layout-slideshow .sprocket-features-arrows .arrow.next:before {content: '\f105';font-family: FontAwesome;}
.layout-slideshow .sprocket-features-arrows .arrow.prev:before {content: '\f104';font-family: FontAwesome;}
.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover:hover .sprocket-features-arrows .arrow {opacity: 1;}
.layout-slideshow .sprocket-features-pagination {position: absolute;left: 50%;margin-left: -22px;bottom: 15px;z-index: 10;}
.layout-slideshow .sprocket-features-pagination li {display: inline-block;padding: 7px;margin: 0 3px;opacity: 0.8;border-radius: 1em;cursor: pointer;}
.layout-slideshow .sprocket-features-pagination li.active {opacity: 1;}
.layout-slideshow .sprocket-features-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.layout-slideshow .sprocket-features-pagination-hidden {display: none;}

/* Features - Layout Slideshow - Transitions */
.layout-slideshow .sprocket-features-pagination li, .layout-slideshow .sprocket-features-arrows .arrow {-webkit-transition: opacity 0.2s ease-in;-moz-transition: opacity 0.2s ease-in;-o-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;}

/* Custom */
.layout-slideshow .sprocket-features-content {color: #ffffff;background: rgba(0, 0, 0, 0.5);padding: 15px;}
.layout-slideshow .sprocket-features-arrows .arrow {color: #ffffff;background: rgba(0, 0, 0, 0.5);}
.layout-slideshow .sprocket-features-pagination li {background: rgba(0, 0, 0, 0.7);}
.layout-slideshow .sprocket-features-pagination li.active {background: #000000;}