/**
* @version   $Id: demo-styles.less 12813 2013-08-16 21:57:09Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@import "variables.less";
@import "mainbody-@{mainbody-overlay}.less";
@import "/jui/less/mixins.less";
@import "mixins/index.less";

/* Demo Image */
// General Image
.rt-image {
	position: relative;
	img {
		max-width: 100%;
		height: auto;
		border-radius: 3px;
		.boxSizing(border-box);
	}
	&.with-attribution {
		display: block;
		.rt-attribution {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: @white;
			background: rgba(0, 0, 0, 0.5);
			opacity: 0;
			visibility: hidden;
			.transition(all 0.2s ease-in-out);
			a {
				color: @white !important;
				position: absolute;
				top: 50%;
			    left: 50%;
			    .transform(translate(-50%, -50%));
			}
		}
		&:hover {
			.rt-attribution {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.rt-transparent-image {
	opacity: 0.5;
	.transition(opacity 0.2s ease-in-out);
	.backface-visibility(hidden);
	&:hover {
		opacity: 1;
	}
}

.rt-vertical-center {
	position: absolute;
	top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
}

/* Demo Typography */
.rt-text-extra-large {
    font-size: 4em;
    font-family: @alt-font-family;
}
.rt-icon-large {
	font-size: 5.0em;
	line-height: 1.5em;
}
.rt-circle-number {
	color: @white;
	background: @accent-color1;
    border-radius: 100%;
    display: block;
    font-size: 1.5em;
    height: 20px;
    line-height: 20px;
    margin: 15px;
    padding: 10px;
    width: 20px;
    [class*="demostyle-type-preset1"] & {
    	color: darken(@accent-color1, 40%);
    }
}
.rt-icon-badge {
    display: block;
    font-size: 5em;
    height: auto;
    line-height: normal;
    &.rt-badge-left {
	    float: left;
	    padding: 0 25px 0 0;
    }
}
.rt-icon-left {
	float: left;
    display: inline-block;
    padding: 0 15px 20px 0;
}
.rt-text-white {
	color: @white;
}
.rt-text-accent1 {
	color: @accent-color1;
}
.rt-text-accent2 {
	color: @accent-color2;
}
.rt-text-accent3 {
	color: @accent-color3;
}
.rt-text-accent4 {
	color: @accent-color4;
}

// Demo Module Layout
.rt-mbsb-table {
	.rt-sb-table-col {
		height: 38px;
		vertical-align: middle;
		@media (min-width: 768px) and (max-width: 959px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 37px;
			}
		}
		@media only screen and (min-width: 960px) and (max-width: 1199px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 34px;
			}
		}
		@media only screen and (min-width: 1200px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 32px;
			}
		}
	}
	.rt-mb-table-col {
		height: 75px;
		vertical-align: middle;
	}
}
.rt-mp-table {
	.rt-mp-table-sb {
		height: 219px;
		vertical-align: middle;
		@media (min-width: 768px) and (max-width: 959px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 211px;
			}
		}
		@media only screen and (min-width: 960px) and (max-width: 1199px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 219px;
			}
		}
		@media only screen and (min-width: 1200px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 223px;
			}
		}
	}
}

/* Demo Frontpage */

// Demo Style Image
.fp-content-top-image-01, .fp-featured-image-01, .fp-featured-image-02, .fp-featured-image-03, .fp-featured-image-04, .fp-content-bottom-image-01, .fp-content-bottom-image-02, .fp-content-bottom-image-03, .fp-content-bottom-image-04 {
	background-repeat: no-repeat;
	background-size: 101%;
	width: 101%;
}
.demostyleImage(@index) when (@index > 0) {
	(~".demostyle-type-preset@{index}") {
		.fp-content-top-image-01 {
			background-image: url(../../../images/rocketlauncher/home/fp-content-top/img-01-preset-@{index}.jpg);
		}
		.fp-featured-image-01 {
			background-image: url(../../../images/rocketlauncher/home/featured-content/img-01-preset-@{index}.jpg);
		}
		.fp-featured-image-02 {
			background-image: url(../../../images/rocketlauncher/home/featured-content/img-02-preset-@{index}.jpg);
		}
		.fp-featured-image-03 {
			background-image: url(../../../images/rocketlauncher/home/featured-content/img-03-preset-@{index}.jpg);
		}
		.fp-featured-image-04 {
			background-image: url(../../../images/rocketlauncher/home/featured-content/img-04-preset-@{index}.jpg);
		}
		.fp-content-bottom-image-01 {
			background-image: url(../../../images/rocketlauncher/home/fp-content-bottom/img-01-preset-@{index}.jpg);
		}
		.fp-content-bottom-image-02 {
			background-image: url(../../../images/rocketlauncher/home/fp-content-bottom/img-02-preset-@{index}.jpg);
		}
		.fp-content-bottom-image-03 {
			background-image: url(../../../images/rocketlauncher/home/fp-content-bottom/img-03-preset-@{index}.jpg);
		}
		.fp-content-bottom-image-04 {
			background-image: url(../../../images/rocketlauncher/home/fp-content-bottom/img-04-preset-@{index}.jpg);
		}
	}
	.demostyleImage(@index - 1);
}
.demostyleImage(6);

// FP Top A
.fp-top-a {
	&.rt-block {
		height: 320px;
	}
	.readon4 {
		border-radius: 8px !important;
		font-size: 1.5em;
		padding: 15px 35px;
	}
	.rt-readon-animate .readon4:hover {
		-webkit-animation: 0.3s ease 0s normal none 2 pulse;
		animation: 0.3s ease 0s normal none 2 pulse;
	}
}

// FP Showcase A
.fp-showcase-a {
	&.rt-block {
		padding-top: 0;
		padding-bottom: 50px;
	}
	.sprocket-strips .sprocket-strips-pagination {
		li {
			border: 5px solid transparent;
			background: @white;
			opacity: 0.35;
			.transition(all 0.2s ease);
			&.active, &.active:hover {
				border: 5px solid @accent-color1;
				background: @white;
				opacity: 1;
			}
			&:hover {
				border: 5px solid @accent-color1;
				background: @white;
				opacity: 0.5;
			}
		}
	}
	&.fp-showcase-animate {
		.sprocket-strips-content:hover {
			-webkit-animation: 0.5s ease 0s normal none 1 pulse;
			animation: 0.5s ease 0s normal none 1 pulse;
		}
	}
}

// FP Content Top A1
.fp-content-top-a1 {
	&.rt-block {
		padding: 0;
	}
}
.fp-content-top-image-block {
	position: relative;
	overflow: hidden;
	.tintBackground(@sidepanel-background, 10%);
	img {
		.transform(scale(1.0));
	}
	&:hover {
		.rt-desc-overlay {
			opacity: 1;
			visibility: visible;
			.rt-icon-badge {
				position: absolute;
				top: 50%;
				left: 50%;
			    .transform(translate(-50%, -50%));
			}
		}
		.rt-top-content {
			-webkit-animation: 0.5s ease 0s normal none 1 pulse;
			animation: 0.5s ease 0s normal none 1 pulse;
		}
		.rt-bottom-content {
			.transform(translate(0, 1%));
			.transition(all 0.2s ease);
		}
	}
	.rt-desc-overlay {
		color: @white;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    opacity: 0;
	    padding: 25px;
	    visibility: hidden;
	    .rt-icon-badge {
	    	font-size: 2.5em;
		    a {
		    	color: @white;
		    }
	    }
	}
}
.rt-top-content {
	position: absolute;
    left: 25px;
    top: 25px;
    visibility: visible;
    opacity: 1;
    .transition(all 0.2s ease);
}
.rt-bottom-content {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	left: 0;
    bottom: 0;
    padding: 15px;
    position: absolute;
    .box-sizing(border-box);
    .transform(translate(0, 100%));
}
.fp-content-top-animate {
	.fp-content-top-image-block {
		img {
			.transition(all 0.3s ease);
		}
	}
	.rt-desc-overlay {
		.transition(all 0.3s ease);
	}
}

// FP Content Top A2
.fp-content-top-a2 {
	&.rt-block {
		padding: 0;
	}
}

// FP Sidebar A3
.fp-sidepanel-03 {
	&.rt-block {
		.tintBackground(@sidepanel-background, 3%);
		padding-top: 35px;
	}
}
.fp-sidepanel-social-icon {
    .tintColor(@sidepanel-background, 25%);
    display: inline-block;
    font-size: 2em;
    margin: 0 5px 10px 0;
    &:hover {
    	color: @white;
    }
}

// MainBody
.-jun14-home .rt-mainbody-block {
	&.rt-block {
		padding: 0;
	}
	.item-separator, .row-separator {
		display: none;
	}
	.blog-featured .item h2 {
		margin: 15px;
	}
	.actions {
		padding: 0 15px;
	}
	.article-info {
		padding: 0 15px;
	}
}

// FP Featured Article
.fp-featured-content-image-block {
	position: relative;
	overflow: hidden;
	img {
		.transform(scale(1.0));
	}
	&:hover {
		.rt-desc-overlay {
			opacity: 1;
			visibility: visible;
			.rt-icon-badge {
				opacity: 1;
			}
		}
	}
	.rt-desc-overlay {
		color: @white;
		background: fadeout(@accent-color1, 20%);
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    opacity: 0;
	    visibility: hidden;
	    .rt-icon-badge {
	    	font-size: 2.5em;
		    a {
		    	color: @white;
		    }
	    }
	}
}
.fp-featured-content-animate {
	.fp-featured-content-image-block {
		img {
			.transition(all 0.2s ease-in-out);
		}
		&:hover {
			img {
				.transform(scale(1.3));
			}
		}
	}
	.rt-desc-overlay {
		.transition(all 0.2s ease-in);
		.rt-icon-badge {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
		    .transform(translate(-50%, -50%));
		    .transition(all 0.2s ease-in);
		}
	}
}

// FP Content Bottom
.fp-content-bottom {
	&.rt-block {
		padding: 0;
	}
	.rt-icon-left {
		padding: 3px 10px 20px 0;
	}
}
.fp-content-bottom-image-block {
	position: relative;
	overflow: hidden;
	img {
		.transform(scale(1.0));
	}
	&:hover {
		.rt-desc-overlay {
			opacity: 1;
			visibility: visible;
		    h3, p, a {
				.transform(translate(0, 0));
		    }
		    a {
		    	position: absolute;
		    }
		}
	}
	.rt-desc-overlay {
		color: @white;
		background: fadeout(@sidepanel-background, 20%);
		border: 15px solid @accent-color4;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    opacity: 0;
	    padding: 15px;
	    visibility: hidden;
	    .rt-icon-badge {
	    	font-size: 2.5em;
		    a {
		    	color: @white;
		    }
	    }
	}
}
.fp-content-bottom-animate {
	.fp-content-bottom-image-block {
		background: @accent-color3;
		img {
			.transition(all 0.2s ease-in-out);
		}
		&:hover {
			img {
				.transform(scale(0.9));
			}
		}
	}
	.rt-desc-overlay {
		.transition(all 0.2s ease-in);
	    h3, p {
	    	.transition(all 0.2s ease-in-out);
			.transform(translate(0, -100%));
	    }
	    a {
	    	.transition(all 0.3s ease-in-out);
	    	.transform(translate(-100%, 0));
	    }
	}
}

// FP Footer A, B, & C
.fp-footer-a, .fp-footer-b, .fp-footer-c {
	&.rt-block {
		height: 235px;
		@media only screen and (min-width: 960px) and (max-width: 1199px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: 260px;
			}
		}
		@media (max-width: 767px) {
			body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
				height: auto;
			}
		}
	}
}
.fp-footer-c {
	.gantry-width-50 {
		@media (max-width: 767px) {
		    .flex-basis(50%) !important;
		    width: 50% !important;
		}
	}
}



/* Demo Pages */

// Extensions Position
#rt-extension {
	.menu-blog &, .menu-faq &, .menu-contact-us &, .menu-about-us &, .menu-the-team &, .menu-services &, .menu-pricing-tables &, .menu-portfolio & {
		color: @light-grey;
		background: @dark-grey;
	}
}

// Features and Pages Overview
.menu-features-overview, .menu-pages-overview {
	.component-content .gantry-width-spacer {
		margin: 25px 15px;
	}
}

// Module Positions Page
.rt-mbsb-table {
	thead {
		color: #888;
	}
}

// Typography Page
.gantry-example {
	position: relative;
	margin: 15px 0;
	padding: 45px 19px 14px;
	*padding-top: 19px;
	background-color: @white;
	border: 1px solid #dddddd;
	.border-radius(4px);
	.table, .well, blockquote {
		margin-bottom: 5px;
	}
	.lead {
		font-size: 18px;
		line-height: 24px;
	}
	> p:last-child {
		margin-bottom: 0;
	}
	+ .prettyprint {
		margin-top: -20px;
		padding-top: 15px;
	}
	&:after {
		content: "Example";
		position: absolute;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #dddddd;
		color: #9da0a4;
		.border-radius(4px 0 4px 0);
		font-style: normal;
	}
	.search-query {
		margin-bottom: 0;
	}
}
form.gantry-example {
	padding-bottom: 19px;
}
.form-actions {
	background-color: @body-background2;
	border-top: 1px solid @body-border;
}
.help-block, .help-inline {
	color: @body-text-line;
}
.docs-input-sizes input {
	margin-bottom: 15px;
}

// Pricing Page
.rt-table {
	clear: both;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: @body-border;
    margin: 35px 0;
    list-style: none;
    &.rt-table-last-col {
    	border-right: 0;
    }
    li {
    	padding: 15px 25px;
    }
    @media (max-width: 767px) {
		body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
			border-width: 1px 0;
		}
	}
}
.rt-table-title {
	font-size: 1.5em;
	color: @light-grey;
	background: @dark-grey;
	text-align: center;
}
.rt-table-price {
	font-size: 2em;
	color: @dark-grey;
	background: @light-grey;
	border-bottom: 1px solid lighten(@body-background, 70%);
	padding: 25px !important;
	text-align: center;
}

// Services Page
.menu-services {
	#rt-maintop {
		color: @dark-grey;
		background: @light-grey;
	}
}

// Blog Page
.rt-blog-form {
	.inputbox, .readon {
		display: inline-block;
		margin: 0 5px;
	}
	.inputbox {
		width: 60%;
		border: 1px solid transparent;
	}
	.readon {
		width: 35%;
	}
}

// Contact Page
.menu-contact-us {
	.contact h3 {
		display: none;
	}
	.contact-form {
		legend {
			font-size: 1.5em;
			border-bottom: none;
			margin-bottom: 0;
		}
		dt {
			width: 200px;
		}
		dd {
			float: none !important;
			margin: 0;
		}
		label {
			font-size: 1.2em;
			margin: 10px 0;
		}
		input[type="text"], input[type="email"], textarea {
		    width: 100%;
		    height: auto;
			padding: 12px 15px;
			margin-bottom: 10px;
			box-shadow: none;
			.boxSizing(border-box);
		}
		input[type="checkbox"] {
			margin: 13px 0;
		}
	}
}

/* Animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}