/**
* @version   $Id: error.less 12813 2013-08-16 21:57:09Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@import "variables.less";

.pagesurround-type-custompagesurround #rt-page-surround {
	background-image: @pagesurround-custompagesurround-image;
	background-color: @pagesurround-background;
}
.pagesurroundBackgroundImage(@index) when (@index > 0) {
	(~".pagesurround-type-preset@{index}") {
		background-image: url(../images/patterns/preset@{index}/pattern.png);
		background-color: @pagesurround-background;
		background-repeat: repeat;
	}
	.pagesurroundBackgroundImage(@index - 1);
}
.pagesurroundBackgroundImage(8);

.rt-error-page {
	#rt-copyright {
		background: @pagesurround-background;
		padding: 25px 0;
	}
}
.rt-error-container {
	width: 50%;
	margin: 130px auto 230px auto;
	padding: 50px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	@media (min-width: 768px) and (max-width: 1200px) {
		body.layout-mode-responsive &, body.layout-mode-fluidresponsive & {
			width: 80%;
		}
	}
}
.rt-error-header {
	text-align: center;
	margin: 25px 0;
}

.rt-error-code {
	font-size: 6em;
	line-height: 1.5em;
}

.rt-error-code-desc {
	text-transform: uppercase;
}

.rt-error-content {
	text-align: center;
	margin: 25px 0 50px 0;
}

.rt-error-title {
	font-size: 2em;
	line-height: 1.5em;
	text-transform: uppercase;
}

.rt-error-message {
	font-size: 1em;
	margin: 15px 0;
}

.rt-error-button {
	margin: 25px 0;
}