/**
* @version   $Id: grid-flexbox-flud.less 2375 2014-05-20 22:41:53Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@import "mixins/index.less";

// Grid Container
.rt-container {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

.rt-inner-container {
	.flex-display(flex);
	.flex-flow(row wrap);
}

// General Grid
.rt-grid-1 {
	.flex-basis(8.33333%);
}
.rt-grid-2 {
	.flex-basis(16.66667%);
}
.rt-grid-3 {
	.flex-basis(25%);
}
.rt-grid-4 {
	.flex-basis(33.33333%);
}
.rt-grid-5 {
	.flex-basis(41.66667%);
}
.rt-grid-6 {
	.flex-basis(50%);
}
.rt-grid-7 {
	.flex-basis(58.33333%);
}
.rt-grid-8 {
	.flex-basis(66.66667%);
}
.rt-grid-9 {
	.flex-basis(75%);
}
.rt-grid-10 {
	.flex-basis(83.33333%);
}
.rt-grid-11 {
	.flex-basis(91.66667%);
}
.rt-grid-12 {
	.flex-basis(100%);
}

// Content Top & Content Bottom Grid
#rt-content-top, #rt-content-bottom {
	.flex-display(flex);
	[class*="rt-grid"] {
		.flex(1);
	}
}

/* Push, Pull, Prefix */
[class*="rt-push-"], [class*="rt-pull-"], [class*="rt-prefix-"] {
	position: relative;
}

// Push, Pull, Prefix
.rt-push-1 {
	left: 8.33333%;
}
.rt-push-2 {
	left: 16.66667%;
}
.rt-push-3 {
	left: 25%;
}
.rt-push-4 {
	left: 33.33333%;
}
.rt-push-5 {
	left: 41.66667%;
}
.rt-push-6 {
	left: 50%;
}
.rt-push-7 {
	left: 58.33333%;
}
.rt-push-8 {
	left: 66.66667%;
}
.rt-push-9 {
	left: 75%;
}
.rt-push-10 {
	left: 83.33333%;
}
.rt-push-11 {
	left: 91.66667%;
}

.rt-pull-1 {
	left: -8.33333%;
}
.rt-pull-2 {
	left: -16.66667%;
}
.rt-pull-3 {
	left: -25%;
}
.rt-pull-4 {
	left: -33.33333%;
}
.rt-pull-5 {
	left: -41.66667%;
}
.rt-pull-6 {
	left: -50%;
}
.rt-pull-7 {
	left: -58.33333%;
}
.rt-pull-8 {
	left: -66.66667%;
}
.rt-pull-9 {
	left: -75%;
}
.rt-pull-10 {
	left: -83.33333%;
}
.rt-pull-11 {
	left: -91.66667%;
}

.rt-prefix-1 {
	padding-left: 100px;
}
.rt-prefix-2 {
	padding-left: 16.66667%;
}
.rt-prefix-3 {
	padding-left: 25%;
}
.rt-prefix-4 {
	padding-left: 33.33333%;
}
.rt-prefix-5 {
	padding-left: 41.66667%;
}
.rt-prefix-6 {
	padding-left: 50%;
}
.rt-prefix-7 {
	padding-left: 58.33333%;
}
.rt-prefix-8 {
	padding-left: 66.66667%;
}
.rt-prefix-9 {
	padding-left: 75%;
}
.rt-prefix-10 {
	padding-left: 83.33333%;
}
.rt-prefix-11 {
	padding-left: 91.66667%;
}

// Gantry Custom Width
.gantry-row {
	margin: 0 -15px;
}
.gantry-width-container {
	.flex-display(flex);
	.flex-flow(row wrap);
}
.gantry-width-spacer {
	margin: 0 15px;
}
.gantry-block-center {
	margin: auto;
	float: none !important;
}
.gantry-width-10 {
	width: 10%;
}
.gantry-width-20 {
	width: 20%;
}
.gantry-width-25 {
	width: 25%;
}
.gantry-width-30 {
	width: 30%;
}
.gantry-width-33 {
	width: 33.333333333%;
}
.gantry-width-40 {
	width: 40%;
}
.gantry-width-50 {
	width: 50%;
}
.gantry-width-60 {
	width: 60%;
}
.gantry-width-66 {
	width: 66.666666666%;
}
.gantry-width-70 {
	width: 70%;
}
.gantry-width-75 {
	width: 75%;
}
.gantry-width-80 {
	width: 80%;
}
.gantry-width-90 {
	width: 90%;
}
.gantry-width-100 {
	width: 90%;
}

// Super Large Mode (Larger than 1920px)
@media only screen and (min-width: 1921px) {
	body.layout-mode-fluidresponsive {
		.rt-container {
			width: 1920px;
			margin: auto !important;
		}
	}
}

// General Mobile Modes
@media (max-width: 767px) {
	body.layout-mode-fluidresponsive {
		-webkit-tap-highlight-color: transparent;
	}
	.rt-container [class*="rt-grid"], .rt-container [class*="gantry-width"] {
		.flex-basis(100%);
	}
	#rt-content-top, #rt-content-bottom {
		display: block;
	}
	.gantry-width-spacer {
		margin: 15px;
	}
    [class*="rt-push"], [class*="rt-pull"] {
    	left: auto;
    }
    [class*="rt-prefix"] {
    	padding-left: 0;
    }
}