/**
 * @version   $Id: rtl.less 10853 2013-05-29 21:56:38Z arifin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* General RTL Stuff */
body.rtl {
	// Gantry Core
	.rt-block {
		direction: rtl;
	}
	.gantry-left {
		float: right;
		margin-left: 0;
		margin-right: 15px;
	}
	.gantry-right {
		float: left;
		margin-left: 15px;
		margin-right: 0;
	}
	.gantry-text-left {
		text-align: right;
	}
	.gantry-text-right {
		text-align: left;
	}
	// Gantry Custom Width
	.gantry-width-container {
		direction: rtl;
	}
	// code, pre
	code, pre {
		direction: ltr;
	}
	// ul, ol
	ul, ol {
		margin: 0 20px 15px 0;
	}
	// Menu
	ul.menu {
		margin: 0 -15px;
	}
	// Form Horizontal
	.form-horizontal {
		.control-group {
			.control-label {
				float:right;
				text-align:right;
			}
		}
	}
	.component-content form fieldset {
		label {
			display: inline;
		}
		dt {
			float: right;
		}
		dd {
			float: left;
		}
	}
	#member-registration {
		div {
			margin-right: 15px;
		}
	}
	// Modules Icon Suffix
	[class^="icon-"] .module-title .title-icon, [class*=" icon-"] .module-title .title-icon {
		margin-right: 0;
		margin-left: 10px;
	}
	// Menu Module
	ul.menu li a:before, ul.menu li .item:before, ul.menu li .separator:before {
		float: right;
		margin-left: 10px;
	}
	// Login Form
	.component-content .login + div ul li a:before, #login-form a:before {
		margin-left: 4px;
		float: right;
	}
	// PopUp Login
	#rt-popup, #rt-popuplogin {
		text-align: right;
	}
	#rt-popuplogin {
		p {
			float: right;
			margin: 0 0 10px 10px;
		}
		#login-form {
			ul li:first-child {
				margin-right: 0;
			}
		}
		#form-login-username, #form-login-password {
			label {
				text-align: right;
			}
		}
	}
	// RokAjaxSearch
	.rokajaxsearch {
		.inputbox {
			background-position: 4% -65px;
		}
	}
	#roksearch_results .page {
		float: right;
	}
	// Sprocket - Tabs
	.sprocket-tabs-nav {
		margin-bottom: 0;
		li {
			float: right;
			margin-right: 0;
			margin-left: 5px;
		}
	}
	.layout-left {
		.sprocket-tabs-nav {
			float: right;
			margin-bottom: 0;
		}
		.sprocket-tabs-panels {
			margin-left: 0;
			margin-right: 125px;
		}
	}
	.layout-right {
		.sprocket-tabs-nav {
			float: left;
		}
		.sprocket-tabs-panels {
			margin-right: 0;
			margin-left: 125px;
		}
	}
	// Sprocket - Lists
	.sprocket-lists-title {
		&.padding {
			padding-left: inherit;
			padding-right: 50px;
		}
		.indicator {
			left: inherit;
			right: 15px;
		}
	}
	.sprocket-lists-image {
		float: right;
		margin: 10px 0 10px 15px;
	}
	// Sprocket - Headlines
	.sprocket-headlines-list {
		margin-bottom: 0;
		margin-right: 0;
	}
	.sprocket-headlines-badge {
		float: right;
	}
	.sprocket-headlines-text {
		white-space: normal;
	}
	// Sprocket Strips
	ul.sprocket-strips-container, .sprocket-features-img-list {
		margin: 0;
	}
	.sprocket-strips-container {
		> li {
			float: right;
		}
	}
	// Standard Inline Structural Adjustments
	.rt-floatleft {
		float: right;
		margin-right: 0;
		margin-left: 15px;
	}
	.rt-floatright {
		float: left;
		margin-left: 0;
		margin-right: 15px;
	}
	.nomarginleft, .rt-block.nomarginleft, ul.nomarginleft, li.nomarginleft {
		margin-right: 0;
	}
	.nomarginright, .rt-block.nomarginright, ul.nomarginright, li.nomarginright {
		margin-left: 0;
	}
	.nopaddingleft, .rt-block.nopaddingleft, ul.nopaddingleft, li.nopaddingleft {
		padding-right: 0;
	}
	.nopaddingright, .rt-block.nopaddingright, ul.nopaddingright, li.nopaddingright {
		padding-left: 0;
	}
	.smallmarginleft {
		margin-right: 5px;
	}
	.smallmarginright {
		margin-left: 5px;
	}
	.medmarginleft {
		margin-right: 10px;
	}
	.medmarginright {
		margin-left: 10px;
	}
	.largemarginleft {
		margin-right: 15px;
	}
	.largemarginright {
		margin-left: 15px;
	}
	.smallpaddingleft {
		padding-right: 5px;
	}
	.smallpaddingright {
		padding-left: 5px;
	}
	.medpaddingleft {
		padding-right: 10px;
	}
	.medpaddingright {
		padding-left: 10px;
	}
	.largepaddingleft {
		padding-right: 15px;
	}
	.largepaddingright {
		padding-left: 15px;
	}
    .subsmallmarginleft {
		margin-right: -5px;
	}
	.subsmallmarginright {
		margin-left: -5px;
	}
	.submedmarginleft {
		margin-right: -10px;
	}
	.submedmarginright {
		margin-left: -10px;
	}
	.sublargemarginleft {
		margin-right: -15px;
	}
	.sublargemarginright {
		margin-left: -15px;
	}
	// Demo Styling
	.rt-demo-block {
		float: right;
	}
	// Demo Typography
	.rt-icon-badge.rt-badge-left {
		float: right;
		padding-left: 25px;
		padding-right: 0;
	}
	// DropDown Menu
	.gf-menu {
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
		}
		&.l1 {
			> li {
				float: right;
			}
		}
		li {
			.item {
				text-align: right;
			}
			&.parent {
				> .item {
					padding-right: 10px;
					padding-left: 25px;
					&:after {
						right: inherit;
						left: 10px;
					}
				}
			}
			&:hover, &.active:hover {
				/*
				> .dropdown {
					left: inherit;
					right: -1px;
				}
				*/
			}
		}
	}
	.dropdown {
		ul {
			li {
				&.parent {
					> .item:after {
						content: "\f104"; // icon-angle-left: "\f104", icon-caret-left: "\f0d9", icon-chevron-left: "\f053"
						font-size: 11px;
					}
				}
				&:hover {
					> .flyout {
						left: inherit;
						right: 100%;
						.border-radius(5px 0 5px 5px);
						margin-left: auto;
						margin-right: -6px;
					}
				}
			}
		}
	}
	.column {
		float: right;
	}
	.gf-menu-device-container {
		.gf-menu {
			&.l1 {
				> li {
					float: none !important;
					direction: ltr;
				}
			}
			li {
				.item {
					text-align: left;
				}
			}
		}
		.dropdown {
			left: 0 !important;
		}
	}
	.gf-menu-device-wrapper-sidemenu {
		right: inherit;
	}
}

// RTL Menu Direction
// Mixins
.rt-dropdown-left-direction() {
	left: 0 !important;
	right: auto !important;
}
.rt-flyout-left-direction() {
	left: 100% !important;
	right: auto !important;
}
.rt-dropdown-right-direction() {
	right: 0 !important;
	left: auto !important;
}
.rt-flyout-right-direction() {
	right: 100% !important;
	left: auto !important;
}

body.rtl {
	// All Mode
	.rt-dropdown-left:hover > .dropdown {
		.rt-flyout-left-direction();
	}
	.gf-menu > .rt-dropdown-left:hover > .dropdown {
		.rt-dropdown-left-direction();
	}
	.rt-dropdown-right:hover > .dropdown {
		.rt-flyout-right-direction();
	}
	.gf-menu > .rt-dropdown-right:hover > .dropdown {
		.rt-dropdown-right-direction();
	}
	// Large Mode
	@media only screen and (min-width: 1200px) {
		.rt-dropdown-left-large:hover > .dropdown {
			.rt-flyout-left-direction();
		}
		.gf-menu > .rt-dropdown-left-large:hover > .dropdown {
			.rt-dropdown-left-direction();
		}
		.rt-dropdown-right-large:hover > .dropdown {
			.rt-flyout-right-direction();
		}
		.gf-menu > .rt-dropdown-right-large:hover > .dropdown {
			.rt-dropdown-right-direction();
		}
	}
	// Desktop Modes
	@media only screen and (min-width: 960px) and (max-width: 1199px) {
		.rt-dropdown-left-desktop:hover > .dropdown {
			.rt-flyout-left-direction();
		}
		.gf-menu > .rt-dropdown-left-desktop:hover > .dropdown {
			.rt-dropdown-left-direction();
		}
		.rt-dropdown-right-desktop:hover > .dropdown {
			.rt-flyout-right-direction();
		}
		.gf-menu > .rt-dropdown-right-desktop:hover > .dropdown {
			.rt-dropdown-right-direction();
		}
	}
	// Tablet Modes
	@media only screen and (min-width: 960px) and (max-width: 1199px) {
		.rt-dropdown-left-tablet:hover > .dropdown {
			.rt-flyout-left-direction();
		}
		.gf-menu > .rt-dropdown-left-tablet:hover > .dropdown {
			.rt-dropdown-left-direction();
		}
		.rt-dropdown-right-tablet:hover > .dropdown {
			.rt-flyout-right-direction();
		}
		.gf-menu > .rt-dropdown-right-tablet:hover > .dropdown {
			.rt-dropdown-right-direction();
		}
	}
}

/* RTL Demo Specific Stuff */
body.rtl {
	// Logo
	.rt-logo-block {
		float: right;
	}
	// Menu DropDown
	.menu-block {
		float: left;
		.gf-menu .dropdown:before {
			left: inherit;
			right: 25px;
		}
		[class*="rt-dropdown-left-"] .dropdown:before {
		    right: inherit !important;
		    left: 25px !important;
		}
	}
	// SidePanel Logo
	.sideplogo-block {
		direction: rtl;
	}
	// SidePanel Menu
	.sidepmenu-block {
		.gf-menu {
			&.l1 > li {
				> .item {
					padding: 0 25px;
				}
				&.parent > .item:after {
					content: "\f104";
				}
			}
			> li:hover > .dropdown {
				left: inherit !important;
				right: 100% !important;
			}
		}
		.dropdown {
			box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.2);
			border-radius: 3px 0 0 3px;
		}
	}
	// rt-icon
	.rt-icon-left {
	    float: right;
	    padding: 0 0 20px 15px;
	}
	.rt-icon-right {
	    float: left;
	    padding: 0 15px 20px 0;
	}
}