/**
 * @version   $Id: typography.less 12813 2013-08-16 21:57:09Z arifin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

@import "variables.less";

// General Typography
.promo1 {
	font-size: @base-font-size * 3;
	line-height: @base-line-height * 2.3;
}
.promo2 {
	font-size: @base-font-size * 1.5;
	line-height: @base-line-height * 1.5;
	font-style: italic;
}
.rt-text-large {
	display: block;
	font-size: @base-font-size * 2.5;
	line-height: @base-line-height * 2;
}
.rt-text-medium {
	display: block;
	font-size: @base-font-size * 1.3;
	line-height: @base-line-height * 1.3;
}
.rt-text-small {
	display: block;
	font-size: @base-font-size * 0.85;
	line-height: @base-line-height 1.25;
}
.rt-title-large {
	.title {
		font-size: @base-font-size * 1.85;
		line-height: @base-line-height * 1.45;
		text-transform: none;
	}
}
.rt-title-tag {
	display: block;
	font-size: @base-font-size * 1.15;
	font-weight: normal;
	text-transform: none;
	opacity: 0.8;
}

// Tablet Modes
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body.layout-mode-responsive, body.layout-mode-fluidresponsive {
		// General Typography
		.promo1 {
			font-size: @base-font-size * 2.8;
			line-height: @base-line-height * 2.1;
		}
		.promo2 {
			font-size: @base-font-size * 1.3;
			line-height: @base-line-height * 1.3;
		}
	}
}

// Mobile Modes
@media (max-width: 767px) {
	body.layout-mode-responsive, body.layout-mode-fluidresponsive {
		// General Typography
		.promo1 {
			font-size: @base-font-size * 2.6;
			line-height: @base-line-height * 1.8;
		}
		.promo2 {
			font-size: @base-font-size * 1.2;
			line-height: @base-line-height * 1.2;
			font-style: italic;
		}
		.rt-title-tag {
			font-size: @base-font-size * 1.1;
			line-height: @base-line-height * 1.1;
		}
	}
}

// Small Screen Mobile Modes
@media only screen and (max-width: 480px) {
	body.layout-mode-responsive, body.layout-mode-fluidresponsive {
		// General Typography
		.promo1 {
			font-size: @base-font-size * 2;
			line-height: @base-line-height * 1.5;
		}
		.promo2 {
			font-size: @base-font-size * 1.1;
			line-height: @base-line-height * 1.1;
			font-style: italic;
		}
	}
}