/**
* @version   $Id: master-safari6.css 22044 2014-07-15 13:50:31Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Navigation */
.gf-menu .item.icon [class^="icon-"], .gf-menu .item.icon [class*=" icon-"] {-webkit-font-smoothing: inherit;}

/* Canvas */
canvas {height: auto !important;}

/* Old Flexbox */
/*
.rt-inner-container, .gantry-width-container, #rt-content-top, #rt-content-bottom, #rt-sidepanel-surround {display: -webkit-box;}
[class*="rt-grid"] {-webkit-box-flex: 1;}
*/

/* Gantry Core */
body [class*="rt-grid"] {display: inline;float: left;margin: 0;position: relative;}
body .rt-grid-1:before, body .rt-grid-2:before, body .rt-grid-3:before, body .rt-grid-4:before, body .rt-grid-5:before, body .rt-grid-6:before, body .rt-grid-7:before, body .rt-grid-8:before, body .rt-grid-9:before, body .rt-grid-10:before, body .rt-grid-11:before, body .rt-grid-12:before {display: table;content: "";clear: both;}
body .rt-grid-1:after, body .rt-grid-2:after, body .rt-grid-3:after, body .rt-grid-4:after, body .rt-grid-5:after, body .rt-grid-6:after, body .rt-grid-7:after, body .rt-grid-8:after, body .rt-grid-9:after, body .rt-grid-10:after, body .rt-grid-11:after, body .rt-grid-12:after {display: table;content: "";clear: both;}
body .gantry-width-10, body .gantry-width-20, body .gantry-width-25, body .gantry-width-30, body .gantry-width-33, body .gantry-width-40, body .gantry-width-50, body .gantry-width-60, body .gantry-width-66, body .gantry-width-70, body .gantry-width-75, body .gantry-width-80, body .gantry-width-90 {
	display: block;
	float: left;
}
body .rt-grid-1 {width: 8.33333%;}
body .rt-grid-2 {width: 16.66667%;}
body .rt-grid-3 {width: 25%;}
body .rt-grid-4 {width: 33.33333%;}
body .rt-grid-5 {width: 41.66667%;}
body .rt-grid-6 {width: 50%;}
body .rt-grid-7 {width: 58.33333%;}
body .rt-grid-8 {width: 66.66667%;}
body .rt-grid-9 {width: 75%;}
body .rt-grid-10 {width: 83.33333%;}
body .rt-grid-11 {width: 91.66667%;}
body .rt-grid-12 {width: 100%;}

body .rt-push-1 {left: 8.33333%;}
body .rt-push-2 {left: 16.66667%;}
body .rt-push-3 {left: 25%;}
body .rt-push-4 {left: 33.33333%;}
body .rt-push-5 {left: 41.66667%;}
body .rt-push-6 {left: 50%;}
body .rt-push-7 {left: 58.33333%;}
body .rt-push-8 {left: 66.66667%;}
body .rt-push-9 {left: 75%;}
body .rt-push-10 {left: 83.33333%;}
body .rt-push-11 {left: 91.66667%;}

body .rt-pull-1 {left: -8.33333%;}
body .rt-pull-2 {left: -16.66667%;}
body .rt-pull-3 {left: -25%;}
body .rt-pull-4 {left: -33.33333%;}
body .rt-pull-5 {left: -41.66667%;}
body .rt-pull-6 {left: -50%;}
body .rt-pull-7 {left: -58.33333%;}
body .rt-pull-8 {left: -66.66667%;}
body .rt-pull-9 {left: -75%;}
body .rt-pull-10 {left: -83.33333%;}
body .rt-pull-11 {left: -91.66667%;}

body .rt-prefix-1 {padding-left: 8.33333%;}
body .rt-prefix-2 {padding-left: 16.66667%;}
body .rt-prefix-3 {padding-left: 25%;}
body .rt-prefix-4 {padding-left: 33.33333%;}
body .rt-prefix-5 {padding-left: 41.66667%;}
body .rt-prefix-6 {padding-left: 50%;}
body .rt-prefix-7 {padding-left: 58.33333%;}
body .rt-prefix-8 {padding-left: 66.66667%;}
body .rt-prefix-9 {padding-left: 75%;}
body .rt-prefix-10 {padding-left: 83.33333%;}
body .rt-prefix-11 {padding-left: 91.66667%;}

/* Demo Stuff */
body #rt-sidepanel-content, body #rt-body-content {display: inline;float: left;margin: 0;position: relative;}
body #rt-sidepanel-content:before, body #rt-body-content:before, body #rt-sidepanel-content:after, body #rt-body-content:after {display: table;content: "";clear: both;}
body .rt-sidepanel-wrapper [class*="rt-grid"] {width: 100%;}
body #rt-body-content {float: right;}