/**
* @version   $Id: master-ie11.css 21381 2014-06-02 08:13:51Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Navigation */
body .gf-menu.l1 > li.parent > .item:after {top: 100%;margin-top: -6px;}

/* Demo SidePanel Menu */
body .sidepmenu-block .gf-menu.l1 li.parent > .item:after {margin-top: -17px !important;}