/**
* @version   $Id: master-ie8.css 21384 2014-06-02 08:31:53Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Body Overflow */
body #rt-page-surround {overflow: visible !important;}

/* Navigation */
body .dropdown {zoom: 1;}
body .gf-menu.l1 > li.parent > .item:after {top: 100%;margin-top: -6px;}
body .gf-menu.l1 > li.active > .item {zoom: 1;}
body .gf-menu li.modules:hover {filter: none;}

/* DropDown Direction */
body .rt-dropdown-left-desktop:hover > .dropdown {left: auto !important;right: 100% !important;}
body .gf-menu > .rt-dropdown-left-desktop:hover > .dropdown {left: auto !important;right: 0 !important;}
body .rt-dropdown-right-desktop:hover > .dropdown {left: 100% !important;right: auto !important;}
body .gf-menu > .rt-dropdown-right-desktop:hover > .dropdown {left: 0 !important;right: auto !important;}

/* Button */
.btn.disabled:hover, .btn.disabled.btn-primary:hover {filter: alpha(opacity=65);zoom: 1;}

/* Module Variations */
body [class^="box"] .module-content [class*="custom"], body [class*=" box"] .module-content [class*="custom"] {filter: none;}

/* Joomla Pagination */
body .pagination ul li a {filter: none;}

/* RokAjaxSearch */
body .rokajaxsearch .inputbox {padding-top: 7px;}

/* RokSprocket Strips */
body .sprocket-strips .sprocket-strips-item {filter: none !important;}
body .sprocket-strips-pagination li {background: #aaaaaa;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

/* RokSprocket Mosaics */
body [class*="sprocket"] .sprocket-mosaic-filter li, body [class*="sprocket"] .sprocket-mosaic-order li {filter: none;}
body .sprocket-mosaic-hover {background: #333333;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

/* RokSprocket Lists */
body .sprocket-lists-pagination li, body .sprocket-lists-arrows .arrow {background: #aaaaaa;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

/* Desktop Responsive Class */
body .visible-large {display: none !important;}
body .hidden-large {display: inherit !important;}
body .visible-desktop {display: inherit !important;}
body .hidden-desktop {display: none !important;}
body .gf-menu-device-container {display: none !important;}

/* Gantry Core */
body [class*="rt-grid"] {display: inline;float: left;margin: 0;position: relative;}
body .rt-grid-1:before, body .rt-grid-2:before, body .rt-grid-3:before, body .rt-grid-4:before, body .rt-grid-5:before, body .rt-grid-6:before, body .rt-grid-7:before, body .rt-grid-8:before, body .rt-grid-9:before, body .rt-grid-10:before, body .rt-grid-11:before, body .rt-grid-12:before {display: table;content: "";clear: both;}
body .rt-grid-1:after, body .rt-grid-2:after, body .rt-grid-3:after, body .rt-grid-4:after, body .rt-grid-5:after, body .rt-grid-6:after, body .rt-grid-7:after, body .rt-grid-8:after, body .rt-grid-9:after, body .rt-grid-10:after, body .rt-grid-11:after, body .rt-grid-12:after {display: table;content: "";clear: both;}
body .gantry-width-10, body .gantry-width-20, body .gantry-width-25, body .gantry-width-30, body .gantry-width-33, body .gantry-width-40, body .gantry-width-50, body .gantry-width-60, body .gantry-width-66, body .gantry-width-70, body .gantry-width-75, body .gantry-width-80, body .gantry-width-90 {
	display: block;
	float: left;
}

/* Grid Layout */
body .rt-container {width: 960px;}
body .rt-container .rt-grid-1 {width: 80px;}
body .rt-container .rt-grid-2 {width: 160px;}
body .rt-container .rt-grid-3 {width: 240px;}
body .rt-container .rt-grid-4 {width: 320px;}
body .rt-container .rt-grid-5 {width: 400px;}
body .rt-container .rt-grid-6 {width: 480px;}
body .rt-container .rt-grid-7 {width: 560px;}
body .rt-container .rt-grid-8 {width: 640px;}
body .rt-container .rt-grid-9 {width: 720px;}
body .rt-container .rt-grid-10 {width: 800px;}
body .rt-container .rt-grid-11 {width: 880px;}
body .rt-container .rt-grid-12 {width: 960px;}

body .rt-container .rt-push-1 {left: 80px;}
body .rt-container .rt-push-2 {left: 160px;}
body .rt-container .rt-push-3 {left: 240px;}
body .rt-container .rt-push-4 {left: 320px;}
body .rt-container .rt-push-5 {left: 400px;}
body .rt-container .rt-push-6 {left: 480px;}
body .rt-container .rt-push-7 {left: 560px;}
body .rt-container .rt-push-8 {left: 640px;}
body .rt-container .rt-push-9 {left: 720px;}
body .rt-container .rt-push-10 {left: 800px;}
body .rt-container .rt-push-11 {left: 880px;}

body .rt-container .rt-pull-1 {left: -80px;}
body .rt-container .rt-pull-2 {left: -160px;}
body .rt-container .rt-pull-3 {left: -240px;}
body .rt-container .rt-pull-4 {left: -320px;}
body .rt-container .rt-pull-5 {left: -400px;}
body .rt-container .rt-pull-6 {left: -480px;}
body .rt-container .rt-pull-7 {left: -560px;}
body .rt-container .rt-pull-8 {left: -640px;}
body .rt-container .rt-pull-9 {left: -720px;}
body .rt-container .rt-pull-10 {left: -800px;}
body .rt-container .rt-pull-11 {left: -880px;}

body .rt-container .rt-prefix-1 {padding-left: 80px;}
body .rt-container .rt-prefix-2 {padding-left: 160px;}
body .rt-container .rt-prefix-3 {padding-left: 240px;}
body .rt-container .rt-prefix-4 {padding-left: 320px;}
body .rt-container .rt-prefix-5 {padding-left: 400px;}
body .rt-container .rt-prefix-6 {padding-left: 480px;}
body .rt-container .rt-prefix-7 {padding-left: 560px;}
body .rt-container .rt-prefix-8 {padding-left: 640px;}
body .rt-container .rt-prefix-9 {padding-left: 720px;}
body .rt-container .rt-prefix-10 {padding-left: 800px;}
body .rt-container .rt-prefix-11 {padding-left: 880px;}

/* Heading and Title */
body h1 {font-size: 230% !important;line-height: 140% !important;}
body h2 {font-size: 135% !important;line-height: 155% !important;}
body h3 {font-size: 125% !important;line-height: 145% !important;}
body h4 {font-size: 115% !important;line-height: 135% !important;}
body h5 {font-size: 105% !important;line-height: 155% !important;}

/* Input */
body .inputbox {padding-top: 12px !important;}
body .inputbox[type='checkbox'] {padding: 0 !important;}

/* Counter */
body #rt-comingsoon-counter .number {filter: none !important;}

/* Demo Stuff */
body .sidepmenu-block .gf-menu.l1 li.parent > .item:after {margin-top: -17px !important;}
body .sidepmenu-block .gf-menu > li:hover > .dropdown {left: 100% !important;}
body .fp-top-a .rt-vertical-center {top: 34% !important;left: 34% !important;}
body .fp-featured-content-block .rt-icon-badge {top: 40% !important;left: 40% !important;}
body #rt-sidepanel-content, body #rt-body-content {display: inline;float: left;margin: 0;position: relative;}
body #rt-sidepanel-content:before, body #rt-body-content:before, body #rt-sidepanel-content:after, body #rt-body-content:after {display: table;content: "";clear: both;}
body .fp-featured-image-01, body .fp-featured-image-02, body .fp-featured-image-03, body .fp-featured-image-04, body .fp-content-bottom-image-01, body .fp-content-bottom-image-02, body .fp-content-bottom-image-03, body .fp-content-bottom-image-04 {background-position: 50%;}
body .fp-content-top-image-01 {background-position: 0;}
body .rt-desc-overlay {background: #282828;}