/**
* @version   $Id: master-safari.css 21397 2014-06-02 10:55:15Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Navigation */
.gf-menu .item.icon [class^="icon-"], .gf-menu .item.icon [class*=" icon-"] {-webkit-font-smoothing: inherit;}
.gf-menu .item {-webkit-transform: translate3d(0,0,0);}

/* Canvas */
canvas {height: auto !important;}

/* Demo */
body .rt-title-tag {opacity: 1;}