/**
* @version   $Id: master-webkit.css 21386 2014-06-02 10:04:05Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* General */
a {-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1) !important;}

/* Navigation */
.dropdown {-webkit-backface-visibility: hidden;}
.gf-menu.l1 > li > .item {-webkit-backface-visibility: hidden;font-weight: bold;}
.gf-menu .item.icon [class^="icon-"], .gf-menu .item.icon [class*=" icon-"] {-webkit-font-smoothing: inherit;}

/* Canvas */
canvas {height: auto !important;}

/* Demo Stuff */
.fp-content-top-animate, .fp-content-top-image-block, .fp-featured-content-animate, .fp-featured-content-image-block {-webkit-transform: translate3d(0,0,0);}